    <!-- Angular - Set the Document Title -->
    <!-- https://angular.io/guide/set-document-title -->     
     <!-- <p class="teste">
        Select a title to set on the current HTML document:
      </p>
     
      <ul class="teste">
        <li><a (click)="setTitle( 'Good morning!' )">Good morning</a>.</li>
        <li><a (click)="setTitle( 'Good afternoon!' )">Good afternoon</a>.</li>
        <li><a (click)="setTitle( 'Good evening!' )">Good evening</a>.</li>
      </ul> -->

<router-outlet></router-outlet>
